*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 35% 65%;
  max-width: 1440px;
}

section.gradient {
  background-image: url(images/bg-main-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.front-card,
div.back-card {
  width: 444px;
  height: 246px;
  background-repeat: no-repeat;
  background-size: contain;
}
div.front-card {
  margin-left: 10vw;
  background-image: url(images/bg-card-front.png);
}

div.back-card {
  margin-top: 3rem;
  background-image: url(images/bg-card-back.png);
  margin-left: 15vw;
}

div div.front__card-content {
  display: flex;
  color: white;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rgitem 3rem;
}

.card-number {
  margin-top: 2rem;
  font-size: 2.8rem;
  letter-spacing: 3px;
}

.card-name {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-left {
  float: right;
}
