*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 35% 65%;
  max-width: 1440px;
  position: relative;
}

section.gradient {
  background-image: url(images/bg-main-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.front-card,
div.back-card {
  width: 444px;
  height: 246px;
  background-repeat: no-repeat;
  background-size: contain;
}
div.front-card {
  margin-left: 10vw;
  background-image: url(images/bg-card-front.png);
}

div.back-card {
  margin-top: 3rem;
  background-image: url(images/bg-card-back.png);
  margin-left: 15vw;
}

div div.front__card-content {
  display: flex;
  color: white;
  height: inherit;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.card-number {
  margin-top: 2rem;
  font-size: 2.8rem;
  letter-spacing: 3px;
}

div.name-month {
  display: flex;
  justify-content: space-between;
}

.card-name {
  letter-spacing: 3px;
  text-transform: uppercase;
}

.text-left {
  float: right;
}

.cvv {
  color: white;
  margin-left: 35rem;
  letter-spacing: 3px;
  margin-top: 10.5rem;
}

section.form {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(50%);
  padding-inline: 3rem;
  width: 30%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* position: fixed  ; */
}

label {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form__text {
  text-transform: uppercase;
}

input {
  height: 4rem;
  color: black;
  border-style: none;
  font-size: 1.8rem;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 1rem;
  outline-color: hsl(270, 3%, 87%);
  padding-left: 1.5rem;
  outline-style: groove;
  outline-width: 1px;
  text-transform: capitalize;
}

input:focus,
input:active {
  /* outline-style: inset; */
  border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
  border-style: inset;
  border-radius: 1rem;
  outline: none;
  color: black;
  border-width: 1px;
}

input:hover {
  border-image: linear-gradient(45deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) 1;
  border-style: inset;
  border-radius: 1rem;
  border-width: 1px;
  outline: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  color: hsl(270, 3%, 87%);
}

div.date {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

label {
  font-weight: 500;
  font-size: 1.3rem;
}

.moonth,
.year {
  width: 60%;
}

.cvv {
  width: 100%;
}

#month,
#year {
  width: 100%;
}

#cvv {
  width: 100%;
  margin-left: 0.5rem;
}

.form-cvv {
  margin: 1rem;
}

button {
  height: 4.5rem;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border-radius: 1rem;
  font-family: "Space Grotesk", sans-serif;
  border-style: none;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.error {
  color: hsl(0, 100%, 66%);
  font-size: small;
}

.right-error {
  margin-left: 12rem;
}

.hidden {
  display: none;
}
